<!DOCTYPE html>
<html>

<head>
  <title>
    <%= instanceId %>
  </title>
  <link href="https://fonts.googleapis.com/css?family=Lato|Roboto" rel="stylesheet">
  <link rel="stylesheet" href="../stylesheets/style.css">
  <script src="./js/socket.io.js"></script>
  <script>
    var socket = io();
    var avilalbeCores = 0;
    socket.on('cpu-stats-res', function (data) {
      for (var i in data) {
        $('#cpu-meter-' + i).gaugeMeter({ percent: data[i].value });
      }
    });
    socket.on('avilalbe-cores', function (cores) {
      avilalbeCores = cores;
      console.log(avilalbeCores);
      if (avilalbeCores <= 0) {
        document.getElementById("kill-switch").disabled = false;
      } else {
        document.getElementById("kill-switch").disabled = true;
      }
    });
    function killMe() {
      console.log(--avilalbeCores);
      socket.emit('kill-me');
    }
  </script>
</head>

<body>
  <div class="logo"></div>
  <h1>Hello (AWS) World</h1>
  <div class="content">
    <div class="options">
      <p>instance :
        <%= instanceId %>
      </p>
      <p>Avalibilty zone :
        <%= az %>
      </p>
      <p>ipv4 :
        <%= ipv4 %>
      </p>
    </div>
    <div class="options">
      <p>ami :
        <%= amiID %>
      </p>
      <p>type :
        <%= instanceType %>
      </p>
      <p>hostname :
        <%= hostname %>
      </p>
    </div>
  </div>
  <div class="cores">
    <div class="gauge">
      <% for(var i=0; i < cores; i++) { %>
      <div id='cpu-meter-<%=i%>' class="GaugeMeter" data-animationstep="0" data-size="150" data-label="Core <%= i+1 %>"
        data-append="%" data-label="Percent" data-color="#f8991d">
      </div>
      <% } %>
    </div>
    <button id="kill-switch" disabled="true" onclick="killMe()">Kill Me!</button>
  </div>

  <script src="//code.jquery.com/jquery-2.1.4.min.js"></script>
  <script src="./js/GaugeMeter.js"></script>
  <script>
    $(".GaugeMeter").gaugeMeter();
  </script>
</body>

</html>