<!DOCTYPE html>
<html>

<head>
  <title>
    <%= instanceId %>
  </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <h1>Hello AWS</h1>
  <p>instance :
    <%= instanceId %>
  </p>
  <p>Avalibilty zone :
    <%= az %>
  </p>
  <p>ipv4 :
    <%= ipv4 %>
  </p>
  <p>ami :
    <%= amiID %>
  </p>
</body>

</html>